.selected
{

}

li
{
list-style-type: none;
display: inline;
}

nav
{
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    padding-top: 1em;
    padding-bottom: 3em;
    text-align: center;
    font-weight: bold;
}

header h1
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 133px;
    color: #cfa205;
    background-color: black;
    text-align: center;
    font-weight: bold;
}

nav a
{
color: white;
}

h2
{
    font-size: 18px;
    color: #cfa205;
    background-color: black;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    text-transform: full-width;
}

header
{
    width: 1020px;
    height: 320px;
    margin:auto;
    background-color: black;
}
